<h1>
    <b>
        <center>----WELCOME TO THE DASHBOARD----</center>
</h1></b>
<br><br><br>
<h2>See and manage the pages and post.</h2>
<p>Your pages includes the information.You can create a new post and add it to your blog.You can edit as well as delete
    the existing post from the database.</p>
<h3>Total number of posts:&nbsp;{{count}}</h3>